.tribe_div {
  height: 100vh;
  padding: 20px;
  background-color: whitesmoke;
}

.tribe_div {
  text-align: center;
  justify-content: center;
}

.tribe_div h4 {
  font-size: 24px;
  margin-top: 100px;
}

.team_div {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tribe {
  margin: auto;
  margin-top: 100px;
}

.tribe > image {
  width: 100%;
}
