.bottom_nav {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  height: 45px;
  padding-bottom: 10px;
  border-top: 0.5px solid rgb(231, 231, 231);
  padding-top: 5px;
}

.tab {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* background-color: pink; */
  justify-content: space-between;
  color: #868686;
}

.tab p {
  font-size: 12px;
}
.tab:hover {
  display: flex;
  width: 40px;
  background-color: pink;
  color: #e5265a;
  /* flex-direction: ; */
}
